# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:*** 
* Create a Jupyter notebook
* Insert code and markdown cells
* Share your notebook via GitHub

# Some of the popular languages that Data Scientists use are:
1. Python  
2. R
3. Java
4. C + +

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

## Data Science Tools
|Python|
|------|
|Anaconda|
|scikit-learn|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
5 + 6

11

In [11]:
50 * 40

2000

In [12]:
(200 + 5)*4

820

In [13]:
1 + 1

2

### This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

In [16]:
(6*2)+5

17

In [17]:
(2*8)+1

17

In [18]:
(3*5)+2

17

### This will convert 200 minutes to hours by diving by 60

In [21]:
200/60

3.3333333333333335

## AUTOR
Lakshmi Hola

Niveditha Pandith